/* Site Palette */
$site-bg: #99a8b2;
$navbar-bg: #1c2b2d;
$navbar-bg-alt: #1f6f8b;

$text-light: #fff;

/* Measurements */
$std-margin-double: 2rem;
$std-margin: 1rem;
$std-margin-half: 0.5rem;

$std-border-radius: 10px;

/* Breakpoints */
$sub-collapsing-breakpoint: 550px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
