/* Site Palette */
$site-bg: #E8F5E9;
$navbar-bg: #66BB6A;
$navbar-bg-alt: #43A047;

$text-light: #fff;

/* Measurements */
$std-margin-double: 2rem;
$std-margin: 1rem;
$std-margin-half: 0.5rem;

$std-border-radius: 10px;

/* Breakpoints */
$sub-collapsing-breakpoint: 550px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
